@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');
:root {
  --primary-color:#22254b;
  --secondary-color:#373b69;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: skyblue;
}

.empty{
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background-color: #fff;
}

.fill {
  background-image: url('https://plus.unsplash.com/premium_photo-1675011288741-f86047b7ef29?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: 5px solid #ccc;
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}

@media(max-width:800px){
  body {
    flex-direction: column;
  }
}